amqp
anyjson
appnope
billiard
celery
click
cycler
decorator
greenlet
ipython
ipython-genutils
jupyter
kombu
matplotlib
msgpack-python
neovim
networkx
numpy
pandas
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
pytest
python-dateutil
pytz
redis
scikit-learn
scipy
simplegeneric
six
sklearn
traitlets
wcwidth
tqdm
